.course {
    display: flex;

    .left_side{
        min-width: 225px;
    }

    .right_side{
        .courseContainer {
            flex: 6;
    
            .singleCourse {
                display: flex;
                flex-direction: column;
                padding: 40px;
                justify-content: center;

                border-radius: 10px;
                background: linear-gradient(#a890fd ,#6439ff);
                
                h2 {
                    font-size: 42px;
                    color: var(--text-color);
                    font-weight: 500;
                    margin-bottom: 30px;
                }
    
                h3 {
                    margin-top: 20px;
                    color: var(--text-color);
                }
    
                span {
                    font-size: 20px;
                    color: var(--text-color);
                    font-weight: 400;
                    margin-top: 15px;
                }
    
                .dateCourse {
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-between;
                    width: 700px;
                }
    
                .addLesson {
                    color: var(--text-color);
                    background-color: #6439ff;
                    padding: 10px;
                    font-size: 15px;
                    border-radius: 20px;
                    margin-top: 20px;
                }
    
                .addModule {
                    color: var(--text-color);
                    background-color: #6439ff;
                    padding: 10px;
                    font-size: 15px;
                    border-radius: 20px;
                }
    
                .lessons {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
    
                a {
                    text-decoration: none;
                    margin-top: 15px;
                }
    
                .structureCourse {
                    margin-top: 20px;
                    .addModule__button{
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
    
}